
@{
    ViewBag.Title = "Index";
}


<div>
    <div class=" text-center">
        <div >
            <img src="~/Pictures/logo1.jpg" , style="width:500px;" alt="Responsive image">
        </div>
    </div>
</div>




